@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,700&family=PT+Sans:wght@400;700&family=Raleway:ital,wght@0,700;1,300;1,400&display=swap');
:root{
    --background: #f0f0f0;
    --background_box: #b7aaa0;
    --apple:#dcd3d3 ;
    --apple2: rgb(255, 255, 255, 0.1);
    --apple3: rgb(255, 255, 255, 0.2);
    --txt: #1c1c1c;
    --txt2: #6c1c04;
    --primary: rgba(107, 119, 130, 0.333);
    --secondary: #272830;
    --btn1:#22187c;
    --btn2:#2712c7;
    --whatsapp: #0df053;
    }
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }
      
      body {
        padding: 30px;
      }
      
      /*-----------------------  MENU -----------------------*/
      
      .logo{
        width: 91px;
      }
      #contenedor_menu {
        width: 100%;
        height: 80px;
        background-color: var(--apple);
        border-radius: 8px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
      }
      
      #contenedor_hijo_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1600px;
        height: 100%;
        margin: 0px auto;
        padding: 0px 40px;
      }
      
      .overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, .6);
        display: none;
      }
      .ver_overlay{
      display: block;
      }
      nav a {
        text-decoration: none;
      }
      
      #logo_menu {
        display: flex;
        align-items: center;
        height: 100%;
      }
      
      h2 {
        font-size: 35px;
        color: var(--secondary);
        font-family: "Khand", sans-serif;
      }
      
      h3 {
        font-size: 55px;
        margin-bottom: 40px;
        padding: 10px 40px;
        font-family: "Khand", sans-serif;
        border-radius: 8px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
      }
      
      
      .contenedor_paginas { /* ESTE ES EL CONTENEDOR QUE HAREMOS DESPLEGABLE */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
      }
      
      .pagina {
        margin-left: 25px;
        font-size: 16px;
        color: var(--secondary);
        font-weight: 500;
        letter-spacing: 4px;
        font-family: "Khand", sans-serif;
        transition: all 0.5s ease 0s;
      }
      
      /*----------  MENU TRNSICIONES ----------*/
      .contenedor_paginas p:hover {
       
        color: var(--txt);
        transform: scale(1.1, 1.1);
      }
      

      /*---------------------- CARRITO DE COMPRAS --------------------*/
      .icono_carrito{
       position: relative;
       left: 1rem;
       top: 10px;
      }  
      .carrito_bubble{
        width: 18px;
        position: relative;
        left: 14px;
        bottom: 40px;
        background-color: var(--btn2);
        border-radius: 15px;
        text-align: center;
      }
      .carrito{
      position: absolute;
      top: 29px;
      right: 30px;
      left: 30px;
      display: block;
      text-align: center;
      background-color: var(--apple);
      border-radius: 0 0 8px 8px;
      padding: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.5s ease 0s;
      }
      .carrito h3{
        font-size: 20px;
        box-shadow: none;
      }
      .item_carrito img{
        max-width: 90px;
      }

      .desplegar_carrito{
        max-width: 100%;
        position: absolute;
        top: 110px;
        left: 30px;
        padding: 0;
        height: 80%;
        transition: all 0.5s ease 0s;
        overflow: scroll;
      }

  
      
      /*-----------------------  CUERPO -----------------------*/
      
      #cuerpo {
        width: 100%;
        margin-top: 40px;
        padding: 40px;
        text-align: center;
        border-radius: 8px;
        background-color: white;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
      }
      
      #cuerpo p {
        font-size: 18px;
        font-style: italic;
        font-family: "lora", serif;
      }

      /*---------------------HERO------------------------*/

      .hero_info{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      .hero_info h1{
        font-family: 'Raleway', sans-serif;
        padding-bottom: 3rem;
        font-size: 3rem;
      }

      .hero_info p{
        padding-bottom: 3rem;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;

      }

      /*-----------------------SLIDER----------------------*/

      .container-slider{

        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 5rem;
        flex: 1;
        align-items: center;
      }

      .slider-izquierda img{
        width: 100%;
        flex: 1;
      }
      .slider-screen img{
        width: 100%;
        flex: 1;
      }
      .slider-derecha img{
        width: 100%;
        flex:1;
      }
      /*--------------------------FILTROS------------------------*/
      
      .espacio{
        padding: 1rem;
      }
      .active{
        color: #6c1c04;
      }
      


      /*--------------------------PRODUCTOS-----------------------*/

      #productos{
        width: 100%;
        text-align: center;
        padding-top: 3rem;
        
      }
      #productos h1{
        font-family: 'Raleway', sans-serif;
        font-size: 2rem;
        position: relative;
        left: 1rem;
        padding: 5rem;
      }
      
       .contenedor_productos{
        display: flex;
        gap: 20px;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center ;
        width: 100%;
        padding: 40px;
        border-radius: 12px;
        background-color: black;
      } 

      .products img{
        width: 200px;
        align-items: center;
        border-radius: 15px;
        position: relative;
        top: 1rem;
      }

      .products{
        width: 300px;
        height: 360px;
        border-radius: 12px;
        background-color: var(--apple3);
      }
      
      
      .products button{
        border-radius: 10px;
        box-shadow: rgba(208, 87, 87, 0.559);
        width: 120px;
        height: 30px;
        position: relative;
        top: 15px;
      }
      .products h3{
        font-size: 15px;
        position: relative;
        width: 260px;
        left: 20px;
        top: 35px;
        background-color: var(--apple);
      }

      .hidden{
        display: none;
      }
      /*--------------------------------------CONTACTOS----------------------------------*/

      #contacts{
        display: block;
        gap: 20px;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center ;
        width: 100%;
        padding: 40px;
        border-radius: 12px;
        background-color: var(--background);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4) ;
      }
      .contacts_info{
        height: 100%;
        padding-top: 2rem;
        display: flex;
        justify-content: space-around;
        background-color: var(--background);
       }
       #contacts h1{
        background-color: var(--background);
        display: flex;
        font-family: 'Asap', sans-serif;
        font-weight: 900;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
       }
       .contact_box1{
        margin: 0;
        background: var(--background_box);
        min-width: 200px;
        height: 300px;
        border-radius: 25px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4) ;
        padding-bottom: 2rem;
       }

       .redes{
        background: var(--background_box);
        min-width: 100px;
        height: 300px;
        border-radius: 25px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4) ;
       }
      .redes h2{
        width: 180px;
        font-size: 20px;
        position: relative;
        top: -3rem;
        left: 210px;
      }
       .contact_box2{
        margin: 0;
        background: var(--background_box);
        width: 600px;
        height: 300px;
        border-radius: 25px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
        text-align: center;
       }
       .contact_box1 h2{
        width: 180px;
        font-size: 25px;
        position: relative;
        top: -3rem;
        left: 15px;
       }

       .contact_box2 h2{
        width: 180px;
        font-size: 25px;
        position: relative;
        top: -3rem;
        left: 210px;
       }
       .contact_box1 ul li,
       .contact_box1 ul li a{
        height: 100px;
        gap: 1px;
        font-display: none;
        list-style: none;
       }
       
       .contact_box1 ul a,
       .contact_box2 ul a{
        list-style: none;
        text-decoration: none;
       }
    
       .contact_box2 li a{
        list-style: none;
        font-family: 'Asap', sans-serif;
        font-display: none;
        }
    
       .contact_box1 ul li i{
        display: flex;
       }
       .contact_box2 img{
        position: relative;
        left: 60px;
        top: 3rem;
       }
       .contacts_info .redes h2{
        position: relative;
        top: -3rem;
        left: 1rem;
       }
       .contacts_info .redes i{
        height: 100px;
        display: block;
        flex-wrap: wrap;
        font-size: 45px;
        position: relative;
        left: 50px;
       }
       .contacts_info .redes i:hover{
       color: var(--apple3);
       }
    
       /* ----------------------FOOTER--------------------------------- */
       footer{
        margin-top:50px;
       }
       .footer{
        display: flex;
        background-color: var(--background_box);
        width: 100%;
        height: 40px;
        margin-top: 10px;
       }
       .footer img{
        opacity: 0.5;
        position: relative;
        left: -4rem;
       }
       .footer h2{
        font-size: 20px;
        font-family: 'Asap', sans-serif;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        position: relative;
        left: -53rem;
        opacity: 0.5;
       }
/*    formulario */
    .form_container{
      height: 150px;
      
    }
    .baliza{
      width: 100%;
      height: 50px;
      justify-content: space-around;
      border-radius: 25px;
      font-size: 25px;
      gap: 3rem;
      margin-right: 0;
    }
    .baliza input{
      height: 30px;
    border-radius: 25px;
    }
    .boton_formulario {
      
    }
    /* Error / Success */
.baliza.error input {
  border: 1px solid #dc3545;
}

.baliza small {
  color: #dc3545;
  max-width: 350px;
  text-align: center;
  display: none;
}

.baliza.success input {
  border: 1px solid #28a745;
}

#form_error {
  color: #dc3545;
  font-size: 1rem;
  margin: 8px 0px;
  max-width: 350px;
  text-align: center;
}